<%- include('header.ejs'); %>

<p class="bio">Dave Perrett is a developer and musician living in Brooklyn, NY.</p>

<ul class="posts-list">
<% files.forEach((file) => { %>
  <li class="posts-list__item">
    <a href="posts/<%= file %>"><%= file %></a>
  </li>
<% }); %>
</ul>

<%-include('footer.ejs'); %>

