<!doctype html>
<html>
<head>
  <title>Dave Perrett Details His Computing Misadventures </title>
  <link rel="stylesheet" type="text/css" href="<%= pathPrefix %>main.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Dave Perrett Details His Computing Misadventures - A Programming Blog. Dave Perrett is a developer and musician living in Brooklyn, NY.">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <a href="<%= pathPrefix %>index.html"><h1>Dave Perrett Details His Computing Misadventures</h1></a>
  </header>
  <div class="main-content">

