$soft-black: #1a1c1a;
$lavender: #c9a5e5;
$hacker-green: #77e594;
$code-bg: #3d3d3d;

$content-max-width: 700px;

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: $lavender;
}

h1 {
  font-size: 1.75em;

  @media (min-width: 415px) {
    font-size: 2em;
  }
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: $hacker-green;
}

p {
  line-height: 1.375em;
  margin-bottom: 1.5em;
}

hr {
  border-color: $lavender;
}

body {
  font-size: 18px;
  background-color: $soft-black;
}

footer {
  margin-top: 50px;
}

header,
footer {
  text-align: center;
}

header,
footer,
.main-content {
  padding: 0 1.5em;
}


.main-content {
  max-width: $content-max-width;
  margin: 0 auto;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

ul {
  padding: 0;
  list-style-position: inside;
}

li {
  margin-bottom: 1em;
}

li > p {
  display: inline;
}

.bio,
.posts-list {
  text-align: center;
}

.posts-list {
  list-style-type: none;
}

pre {
  padding: 1em;
  background-color: $code-bg;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

code {
  font-size: 0.75em;
  margin: 0 0.125em;
  padding: 0.125em 0.25em;
  color: $hacker-green;
  background-color: $code-bg;
}

table {
  color: $hacker-green;
  background-color: $code-bg;

  td,
  th {
    border: 1px solid $lavender;
    padding: 0.5em;
  }
}
