$soft-black: #1a1c1a;
$lavender: #c9a5e5;
$hacker-green: #77e594;
$code-bg: #5d5d5d;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
a:link,
a:visited,
a:active,
a:hover,
li {
  color: $lavender;
}

hr {
  border-color: $lavender;
}

body {
  font-size: 18px;
  background-color: $soft-black;
}

header {
  margin-bottom: 50px;
}

footer {
  margin-top: 50px;
}

header,
footer,
.main-content {
  padding: 0 1.5em;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

pre {
  padding: 1em;
  background-color: $code-bg;
}

code {
  margin: 0 0.125em;
  padding: 0.125em 0.25em;
  color: $hacker-green;
  background-color: $code-bg;
}

table {
  color: $hacker-green;
  background-color: $code-bg;
}
