<!doctype html>
<html>
<head>
  <title>Dave Perrett Details His Computing Misadventures </title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <header>
    <a href="../index.html"><h1>Dave Perrett Details His Computing Misadventures</h1></a>
  </header>
  <div class="main-content">
